.title {
  margin-bottom: 0px;
  font-size: 3rem;
  font-weight: 300;
}

.description {
  margin-top: 0px;
  font-weight: 600;
  color: darkgray;
  font-size: 2rem;
  letter-spacing: 1px;
}

.main__post_content > h2 {
  font-weight: 300;
}
.main__post_content > h3 {
  font-weight: 600;
}

.main__post_content > p {
  text-align: justify;
}

.main__post_content * a {
  text-decoration: underline;
}